.head  {
	background-color: #197BBF;
	color:#F4F4F4;
	font-family: 'Amatic SC', cursive;
	padding-top:20px;
	padding-bottom:20px;
}

.cuadrotexto {
	margin-top:10px;
}

.boton {
	margin-top:10px;
}

.cheklist {
	background-color: #9EBAE3;
	margin:2px;
	padding:5px;
}

.iconos {
	padding-left: 10px;
}




.rayita-encima {
	text-decoration: line-through;
}

.corazon {
	color:red;
}